#hscroll-bar {
  position: fixed;
  height: var(--hscroll-width, 4px);
  width: 0;
  top: var(--hscroll-top, unset);
  bottom: var(--hscroll-bottom, unset);
  left: 0;
  z-index: 3000;
  backface-visibility: hidden;
  &.vertical {
    height: 0;
    width: var(--hscroll-width, 4px);
    top: 0;
    bottom: unset;
    left: var(--hscroll-left, unset);
    right: var(--hscroll-right, unset);
  }
}
#hscroll-bar-inner {
  box-shadow: var(--hscroll-shadow, unset);
  height: 100%;
  background-color: light-dark(var(--hscroll-color, #e9573f), var(--hscroll-color_dark, #e9573f));
}
